extends layout

block title
    title Chech lajan - Accueil
block stylesheet
    link(rel="stylesheet" href="css/screen.css")

block content
    h1.hidden Chech lajan
    div.logo
        a(href="html/listing.html")
            img(src="css/images/logo.png", alt="Logo Chech Lajan")

block script
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDHJ3p-sn1Y5tJGrzH9MF5cbR5sdsDmhfg&sensor=false")
    script(src="js/vendor/jquery.js")
    script(src="js/script.min.js")
