extends layout

block title
    title Chech lajan - root

block content
    h4.hidden Chemin à faire
    div#gmap
    div.container
        h5 Nom de la banque
        div.content
            p information banque
        div.back
            a(href="solo.html")
                img(src="../css/images/back.png", alt="")
                
    img(src="..css/images/pointerMoney.png", alt="").money
    img(src="..css/images/pointerUser.png", alt="").bank

block script
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDHJ3p-sn1Y5tJGrzH9MF5cbR5sdsDmhfg&sensor=false")
    script(src="../js/vendor/jquery.js")
    script(src="../js/script.min.js")
