// - includes/header.jade

header.header
    div.header__wrapper
        div.header__title
            h1 
                a(href="#") Chech-lajan
        div.header__refresh
            a(href="#")
                img(src="css/images/refresh.png", alt="Icone de raffraichissement de l'application").loadAnimation
        div.header__menu
            a(href="#")
                img(src="css/images/cash.png", alt="Icone de menu pour l'application")
